In [141]:
# Q.3 ) Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC 

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

import warnings
warnings.filterwarnings('ignore')

In [109]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [13]:
url = "http://images.google.com/"

driver.get(url)
time.sleep(6)

In [14]:
# searching the item

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search_bar.send_keys("fruits")

In [15]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='zgAlFc']")
search_button.click()

In [16]:
#scraping fruits images

fruits_images=[]
titles=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
for i in titles:
    fruits_images.append(i.get_attribute('src'))

In [17]:
# storing scrapped images in dataframe

fruits=pd.DataFrame({"Fruits":fruits_images[0:10]})
fruits

                                              Fruits
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [18]:
# opening images.google.com url

url = "http://images.google.com/"

driver.get(url)
time.sleep(6)

In [19]:
# searching the item

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search_bar.send_keys("cars")

In [20]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='zgAlFc']")
search_button.click()

In [21]:
#scraping car images

car_images=[]
titles=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
for i in titles:
    car_images.append(i.get_attribute('src'))

In [22]:
# storing scrapped images in dataframe

cars=pd.DataFrame({"Cars":car_images[0:10]})
cars

                                                Cars
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [23]:
# opening images.google.com url

url = "http://images.google.com/"

driver.get(url)
time.sleep(6)

In [24]:
# searching the item

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search_bar.send_keys("machine learning")

In [25]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='zgAlFc']")
search_button.click()

In [26]:
#scraping machine learning images

ml_images=[]
titles=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
for i in titles:
    ml_images.append(i.get_attribute('src'))

In [27]:


# storing scrapped images in dataframe

machine_learning=pd.DataFrame({"machine learning":ml_images[0:10]})
machine_learning

                                    machine learning
0  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [28]:
# opening images.google.com url

url = "http://images.google.com/"

driver.get(url)
time.sleep(6)

In [29]:

# searching the item

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search_bar.send_keys("guitar")

In [30]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='zgAlFc']")
search_button.click()

In [31]:
#scraping guitar images

guitar_images=[]
titles=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
for i in titles:
    guitar_images.append(i.get_attribute('src'))

In [32]:
# storing scrapped images in dataframe

guitar=pd.DataFrame({"Guitar":guitar_images[0:10]})
guitar

                                              Guitar
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [33]:
# opening images.google.com url

url = "http://images.google.com/"

driver.get(url)
time.sleep(6)

In [34]:

# searching the item

search_bar=driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input')
search_bar.send_keys("cakes")

In [35]:
# clicking the search button
search_button=driver.find_element_by_xpath("//div[@class='zgAlFc']")
search_button.click()

In [36]:

#scraping cakes images

cakes_images=[]
titles=driver.find_elements_by_xpath('//img[@class="rg_i Q4LuWd"]')
for i in titles:
    cakes_images.append(i.get_attribute('src'))

In [37]:
# storing scrapped images in dataframe

cakes=pd.DataFrame({"Cakes":cakes_images[0:10]})
cakes

                                               Cakes
0  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
1  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
2  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
3  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
4  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
5  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
6  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
7  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
8  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...
9  data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...

In [85]:
# Q.4) Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com 
# and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, 
# “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, “Secondary Camera”, “Display Size”, “Battery Capacity”,
# “Price”, “Product URL”.


# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [86]:
# opening url

url = "https://www.flipkart.com/"
driver.get(url)
time.sleep(6)

In [87]:
# clicking on close button on login page

close_btn=driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_btn.click()

In [88]:
# entering “smartphone" in search field

search_field=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')   #search bar
search_field.send_keys("smartphone")

In [89]:
# clicking the search button
search_button=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_button.click()

In [90]:
time.sleep(3)
smartphone_title=[]
#scraping the smartphone-titles
titles=driver.find_elements_by_xpath("//div[@class='_4rR01T']")
for i in titles:
    if i.text is None :
        smartphone_title.append("-") 
    else:
        smartphone_title.append(i.text)

In [91]:
time.sleep(3)
color=[]
smartphone_color=[]
#scraping the phone color 

titles=driver.find_elements_by_xpath("//div[@class='_4rR01T']")
for i in titles:
    color=i.text.split('(')
    color1=color[1].split(',')
    smartphone_color.append(color1[0])

In [73]:

colour=pd.DataFrame({"Color":smartphone_color[0:10]})
colour

           Color
0  Metallic Blue
1    Coral Green
2    Oxygen Blue
3   Oxygen Green
4    Oxygen Blue
5   Oxygen Green
6   Carbon Black
7    Shadow Gray
8          White
9          Black

In [95]:
time.sleep(3)
smartphone_RAM=[]
smartphone_storage_ROM=[]
Camera=[]
Battery=[]
details2=[]
details=[]

#scraping the smartphone-RAM
titles=driver.find_elements_by_xpath("//div[@class='fMghEO']")

for i in titles:
    details=i.text.split('|')
    smartphone_RAM=details[0]
    smartphone_storage_ROM=details[1]
    camera=details[2].split('\n')
    Camera=camera[2]
    detail2=details[3].split('\n')
    #Front_camera=details2[0]
    Battery=details[1]

In [96]:
brand=pd.DataFrame({"Color":smartphone_color[0:10],"smartphone_RAM":smartphone_RAM,"smartphone_storage_ROM":smartphone_storage_ROM,"Rear_Camera":Rear_Camera,"Battery":Battery})
brand

,Color,smartphone_RAM,smartphone_storage_ROM,Rear_Camera,Battery
0,Metallic Blue,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
1,Coral Green,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
2,Oxygen Green,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
3,Oxygen Blue,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
4,Oxygen Blue,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
5,Shadow Gray,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
6,Carbon Black,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
7,Carbon Black,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
8,Mint Green,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM
9,Cool Blue,4 GB RAM,128 GB ROM,50MP + 2MP + 2MP,128 GB ROM

[<selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="cf0a4f0b-00c2-40fa-88ef-81784246d176")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="de92a4e2-dd75-4ee7-955e-47d535ab2439")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="8f09edfc-d271-4768-a1ca-25c0a70beec5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="a8e6481c-71e3-4f20-a066-15b6ff378065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="f95c7418-ee68-4f61-8d0e-261189dadc44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="da66cee2-3917-4ffe-9188-0bb95400f453")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="00c965aa-52e3-415f-b9af-b5f9936d8b29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="d54c6ec4-3b12-4919-8529-579ea43a5fee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="3c2738a6-112e-4e9f-93d2-c2fe77904166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="f351d330-e1da-4d28-80c9-ead5fe264c24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="e929d1e5-210a-48aa-b226-0c99c0f4155f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="902651a5-e97d-49b3-85af-a3ef84cfd72e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="a77532fc-32f8-4931-8cd1-e6c08581ad36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="34588471-c955-4d82-8c82-cde6c0c85109")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="2a537472-56a6-4732-853c-f4b567da5260")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="ef654d4e-33b5-40ca-98bf-691fa715eb6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="4d618979-54e3-4980-bc02-dc96bfe0b660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="c9cf8ed9-384c-4085-81d6-457355b01e91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="7915faf0-8bb8-412c-bd5b-b259c876568a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="44359e3e-6e29-407c-9edf-8f9a10937f6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="c4fc83b9-803f-4796-900f-54890cb315d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="867223c9-0a78-4043-bf7d-b1af5aacaa6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="07407a76-1b5d-464a-8b94-0e0244ccee06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="e6de379888379b27e16528d83ab25ad6", element="ca141589-9243-49b5-953c-0cb9e5061a8d")>]

In [80]:
# Q.5) Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

['4 GB RAM ']

In [113]:

# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [114]:
url="https://www.google.com/maps"

driver.get(url)

In [115]:

# entering “city" in search field

search_field=driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/form/div/div[3]/div/input[1]')   #search bar
search_field.send_keys("lucknow")

In [116]:
# clicking on search button

search_btn=driver.find_element_by_xpath('/html/body/div[3]/div[9]/div[3]/div[1]/div[1]/div[1]/div[2]/div[1]/button')
search_btn.click()

In [236]:
# Q.7). Write a program to scrap all the available details of best gaming laptops from digit.in.


# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [237]:
url="https://www.digit.in/search/?keyword=best%20gaming%20laptops"

driver.get(url)

In [238]:
#scraping the gaming laptop titles
title=[]
titles=driver.find_elements_by_xpath("//div[@class='searchProduct-desc']")
for i in titles:
    if i.text is None :
        title.append("--") 
    else:
        title.append(i.text)

In [239]:
laptop=pd.DataFrame({"Titles":title})
laptop

                                              Titles
0                                 Asus G750JX-CV069P
1                                      Lenovo G50-30
2  ASUS G53J - A 3D gamer's delight but we want more
3                                Dell Vostro 15 3500
4                       Samsung Series 9 (NP-900X3C)
5                                  HP Envy 15-k006tx
6                        Asus GTX980 Matrix Platinum
7                        HP Envy dv6-7206tx notebook
8                                  ASUS ROG Flow x13
9                              Sony PlayStation Vita

In [226]:
# Q.8). Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.


# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [227]:
url="https://www.forbes.com/billionaires/"

driver.get(url)

In [228]:
time.sleep(3)
#scraping the billionare name
name_title=[]
names=driver.find_elements_by_xpath("//div[@class='personName']")
for i in names:
    if i.text is None :
        name_title.append("--") 
    else:
        name_title.append(i.text)

In [229]:

#scraping the billionare rank
rank=[]
ranks=driver.find_elements_by_xpath("//div[@class='rank']")
for i in ranks:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)

In [230]:

#scraping the billionare net worth
netWorth=[]
netWorths=driver.find_elements_by_xpath("//div[@class='netWorth']")
for i in netWorths:
    if i.text is None :
        netWorth.append("--") 
    else:
        netWorth.append(i.text)

In [231]:

#scraping the billionare age
age=[]
ages=driver.find_elements_by_xpath("//div[@class='age']")
for i in ages:
    if i.text is None :
        age.append("--") 
    else:
        age.append(i.text)

In [232]:

#scraping the billionare citizenship
country=[]
countries=driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
for i in countries:
    if i.text is None :
        country.append("--") 
    else:
        country.append(i.text)

In [233]:

#scraping the billionare source
source=[]
sources=driver.find_elements_by_xpath("//div[@class='source-column']")
for i in sources:
    if i.text is None :
        source.append("--") 
    else:
        source.append(i.text)

In [234]:

#scraping the billionare industry
industry=[]
industries=driver.find_elements_by_xpath("//div[@class='category']")
for i in industries:
    if i.text is None :
        industry.append("--") 
    else:
        industry.append(i.text)

In [235]:
Billionares_data=pd.DataFrame({"Rank":rank,"Name":name_title,"NetWorth":netWorth,"Age":age,"Country":country,"Source":source,"Industry":industry})
Billionares_data

,Rank,Name,NetWorth,Age,Country,Source,Industry
0,1.,Jeff Bezos,$177 B,57,United States,Amazon,Technology
1,2.,Elon Musk,$151 B,49,United States,"Tesla, SpaceX",Automotive
2,3.,Bernard Arnault & family,$150 B,72,France,LVMH,Fashion & Retail
3,4.,Bill Gates,$124 B,65,United States,Microsoft,Technology
4,5.,Mark Zuckerberg,$97 B,36,United States,Facebook,Technology
...,...,...,...,...,...,...,...
195,195.,Harry Triguboff,$11.2 B,88,Australia,real estate,Real Estate
196,197.,Leonid Fedun & family,$11.1 B,65,Russia,oil,Energy
197,197.,Eyal Ofer,$11.1 B,70,Israel,"real estate, shipping",Diversified
198,197.,Evan Spiegel,$11.1 B,30,United States,Snapchat,Technology
199,200.,Luis Carlos Sarmiento,$11 B,88,Colombia,banking,Finance & Investments

In [94]:
# Q.6). Write a program to scrap details of all the funding deals for second quarter (i.e Jan 21 – March 21) from trak.in.


import requests
import pandas as pd
from bs4 import BeautifulSoup

In [95]:
# GETTING URL

url='https://trak.in/india-startup-funding-investment-2015/'

soup=requests.get(url)

page=BeautifulSoup(soup.content,'html.parser')

In [96]:
funding=[]
# scrapping 2nd row of the page

fundings=page.find_all('tr',class_='row-2 even')

In [97]:
data=[]

# scrapping startup name,investor,date,amount etc from 2nd row

for i in fundings:
    startup_name=(i.find('td',class_='column-3').text)
    date=(i.find('td',class_='column-2').text)
    industry=(i.find('td',class_='column-4').text)
    loc=(i.find('td',class_='column-6').text)
    investor=(i.find('td',class_='column-7').text)
    amount=(i.find('td',class_='column-9').text)
    data.append([date,startup_name,industry,loc,investor,amount])

In [98]:
# scrapping 3rd row of the page

fundings=page.find_all('tr',class_='row-3 odd')

In [99]:
# scrapping startup name,investor,date,amount etc from 3rd row

for i in fundings:
    startup_name=(i.find('td',class_='column-3').text)
    date=(i.find('td',class_='column-2').text)
    industry=(i.find('td',class_='column-4').text)
    loc=(i.find('td',class_='column-6').text)
    investor=(i.find('td',class_='column-7').text)
    amount=(i.find('td',class_='column-9').text)
    data.append([date,startup_name,industry,loc,investor,amount])

In [100]:
# scrapping 3rd row of the page

fundings=page.find_all('tr',class_='row-4 even')

In [101]:
# scrapping startup name,investor,date,amount etc from 3rd row

for i in fundings:
    startup_name=(i.find('td',class_='column-3').text)
    date=(i.find('td',class_='column-2').text)
    industry=(i.find('td',class_='column-4').text)
    loc=(i.find('td',class_='column-6').text)
    investor=(i.find('td',class_='column-7').text)
    amount=(i.find('td',class_='column-9').text)
    data.append([date,startup_name,industry,loc,investor,amount])

In [85]:
# scrapping 4th row of the page

fundings=page.find_all('tr',class_='row-5 odd')

In [102]:
# scrapping startup name,investor,date,amount etc from 4th row

for i in fundings:
    startup_name=(i.find('td',class_='column-3').text)
    date=(i.find('td',class_='column-2').text)
    industry=(i.find('td',class_='column-4').text)
    loc=(i.find('td',class_='column-6').text)
    investor=(i.find('td',class_='column-7').text)
    amount=(i.find('td',class_='column-9').text)
    data.append([date,startup_name,industry,loc,investor,amount])

In [103]:
for i in range(1,len(data),45):
    for j in range(i,i+3,1):
        funding.append(data[j])

In [105]:
# displaying dataframe with all funding details from jan to mar 2021

fund=pd.DataFrame(funding)
fund

,0,1,2,3,4,5
0,04/03/2021,DealShare,E-commerce,"Jaipur, Rajasthan",Innoven Capital,"250,000,000"
1,11/02/2021,Doubtnut,Edu Tech,Gurgaon,"SIG Global, Sequoia Capital, WaterBridge Ventu...","2,500,000"
2,15/01/2021,Digit Insurance,Financial Services,Bengaluru,"A91 Partners, Faering Capital, TVS Capital Funds","1,80,00,000"
3,31/03/2021,Uniphore,Technology,Palo Alto,Sorenson Capital Partners,"140,000,000"
4,22/02/2021,Zomato,Hospitality,Gurgaon,"Tiger Global, Kora","250,000,000"
5,28/01/2021,Bombay Shaving Company,Consumer Goods Company,New Delhi,Reckitt Benckiser,"6,172,258.50"
6,30/03/2021,Dunzo,E-commerce,Bengaluru,Krishtal Advisors Pte Ltd,"8,000,000"
7,19/02/2021,Fingerlix,Hospitality,Mumbai,"Rhodium Trust, Accel Partners and Swiggy","2,747,045.20"
8,19/01/2021,DeHaat,AgriTech Startup,Patna,Prosus Ventures,"30,000,000"
9,30/03/2021,Dunzo,E-commerce,Bengaluru,Krishtal Advisors Pte Ltd,"8,000,000"
10,19/02/2021,Fingerlix,Hospitality,Mumbai,"Rhodium Trust, Accel Partners and Swiggy","2,747,045.20"
11,19/01/2021,DeHaat,AgriTech Startup,Patna,Prosus Ventures,"30,000,000"

In [133]:
# Q.9) Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any
# YouTube Video.

# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [134]:
url="https://www.youtube.com/watch?v=q4Lyco-paec"
driver.get(url)

In [121]:
comments=driver.find_elements_by_xpath('//div[@class="style-scope ytd-expander"]') # finding web elements for scrapping comments
comment=[]

In [122]:
for i in comments:
        comment.append(i.text)#appending the comment in comment variable

In [123]:

Display=pd.DataFrame({'COMMENTS':comment})
Display

                                            COMMENTS
0  Vlog # 22\nMyprotein https://bit.ly/3lYbqmw\nc...
1

In [142]:
# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [143]:
data=[]

# getting url
wait = WebDriverWait(driver,5)
driver.get("https://www.youtube.com/watch?v=kuhhT_cBtFU&t=2s")

In [144]:
for item in range(10): 
    wait.until(EC.visibility_of_element_located((By.TAG_NAME, "body"))).send_keys(Keys.END)

In [145]:

for comment in wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "#content"))):
     data.append(comment.text)

In [146]:
# printing comments

df = pd.DataFrame(data, columns=['comment'])
df.head()

                                             comment
0  IN\nSKIP NAVIGATION\nSIGN IN\n#CNN #News\nBody...
1  Bodycam video released by the Atlanta Police D...
2  I'm not from the US but I sure as hell know no...
3  We dont need his "help to understand what we'r...
4  There's a time and a place to fight the police...

In [217]:
# Q.10) Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” 
# location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, 
# privates from price, dorms from price, facilities and property description.

# Connecting to web driver

driver=webdriver.Chrome('chromedriver.exe')

In [218]:
url="https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3&from=2022-01-28&to=2022-01-31&guests=2&page=1"
driver.get(url)

In [219]:
# Extracting hostel names 

hostel_names=driver.find_elements_by_xpath('//h2[@class="title title-6"]')

hostel=[]
for i in hostel_names:
    hostel.append(i.text)

In [220]:
# Extracting distance from city center

distances=driver.find_elements_by_xpath('//div[@class="subtitle body-3"]')

distance=[]
for i in distances:
    distance.append(i.text)

In [221]:
# Extracting  ratings

ratings=driver.find_elements_by_xpath('//div[@class="score orange big"]')

rating=[]
for i in ratings:
    rating.append(i.text)

In [222]:
# Extracting  review

reviews=driver.find_elements_by_xpath('//div[@class="keyword"]')

review=[]
for i in reviews:
    review.append(i.text)

In [223]:
# Extracting  total reviews

total_reviews=driver.find_elements_by_xpath('//div[@class="reviews"]')

tr=[]
for i in total_reviews:
    tr.append(i.text)

In [224]:
# Extracting  privates from price

privates_price=driver.find_elements_by_xpath('//div[@class="price title-5"]')

private_price=[]
for i in privates_price:
    private_price.append(i.text)

In [225]:
# Displaying extracted information for hostel names,ratings,distance,review,total review,privates from price

hostels=pd.DataFrame({'Hostel_Names':hostel[0:25],'Distance':distance[0:25],'Rating':rating[0:25],'Review':review[0:25],'Total_Reviews':tr[0:25],'PrivatesFromPrice':private_price[0:25]})
hostels

,Hostel_Names,Distance,Rating,Review,Total_Reviews,PrivatesFromPrice
0,Mornington Camden,Hostel - 1.8km from city centre,8.3,Fabulous,44 Total Reviews,Rs3277
1,Smart Russell Square Hostel,Hostel - 4.1km from city centre Show on Map,6.7,Fabulous,9567 Total Reviews,Rs12668
2,Smart Camden Inn Hostel,Hostel - 2.6km from city centre Show on Map,8.5,Good,2740 Total Reviews,Rs1319
3,Selina Camden,Hostel - 4.4km from city centre Show on Map,9.2,Fabulous,15 Total Reviews,Rs4808
4,Queen Elizabeth Chelsea,Hostel - 5.5km from city centre Show on Map,7.5,Superb,3214 Total Reviews,Rs1730
5,Pickwick Hall,Hostel - 5.7km from city centre Show on Map,9.0,Very Good,2276 Total Reviews,Rs15177
6,New Cross Inn Hostel,Hostel - 2.3km from city centre Show on Map,7.4,Superb,1055 Total Reviews,Rs4173.85 Rs3548
7,No.8 Willesden Hostel London,Hostel - 6.1km from city centre Show on Map,7.6,Very Good,4645 Total Reviews,Rs3659
8,Safestay London Elephant & Castle,Hostel - 10km from city centre Show on Map,8.0,Very Good,4026 Total Reviews,Rs1821
9,Barmy Badger Backpackers,Hostel - 1.7km from city centre Show on Map,9.3,Fabulous,1688 Total Reviews,Rs6678
10,The London Home Hostel,Hostel - 5.5km from city centre Show on Map,6.8,Superb,253 Total Reviews,Rs5533.52 Rs4980
11,No.8 Seven Sisters,Hostel - 8.2km from city centre Show on Map,8.3,Rating,3686 Total Reviews,Rs1673.24 Rs1506
12,Park Villa,Hostel - 9km from city centre Show on Map,8.5,Good,854 Total Reviews,Rs855
13,Astor Hyde Park,Hostel - 6.3km from city centre Show on Map,8.8,Fabulous,11385 Total Reviews,Rs9713
14,Wombat's The City Hostel London,Hostel - 4.3km from city centre Show on Map,7.1,Fabulous,13370 Total Reviews,Rs2125
15,St Christopher's Greenwich,Hostel - 3.6km from city centre Show on Map,7.9,Fabulous,3155 Total Reviews,Rs6206
16,St Christopher's Oasis-Female Only,Hostel - 7.6km from city centre Show on Map,7.2,Very Good,620 Total Reviews,Rs2293
17,St Christopher's Camden,Hostel - 1.8km from city centre Show on Map,8.3,Very Good,3731 Total Reviews,Rs5565
18,St Christopher's Shepherds Bush,Hostel - 4.3km from city centre Show on Map,7.6,Very Good,642 Total Reviews,Rs855
19,St Christopher's Hammersmith,Hostel - 7km from city centre Show on Map,8.5,Fabulous,3972 Total Reviews,Rs6418
20,St Christopher's Inn - Liverpool Street,Hostel - 7.5km from city centre Show on Map,8.4,Very Good,374 Total Reviews,Rs2597
21,"PubLove @ The White Ferry, Victoria",Hostel - 3.2km from city centre Show on Map,6.8,Fabulous,188 Total Reviews,Rs1720
22,Smart Hyde Park Inn Hostel,Hostel - 2.4km from city centre Show on Map,7.7,Fabulous,6261 Total Reviews,Rs8904.89 Rs6679
23,Smart Hyde Park View Hostel,Hostel - 5km from city centre Show on Map,8.0,Good,4518 Total Reviews,Rs3008.92 Rs2257
24,Safestay London Kensington Holland Park,Hostel - 5km from city centre Show on Map,9.6,Very Good,1108 Total Reviews,Rs5241.97 Rs4718